.ThreadList {
  flex-grow: 1;
  overflow-y: auto;
}
.Thread {
  padding: 0.5rem;
  border: 1px solid #eeeeee;
}
.Thread.Unread {
  background: pink;
}
.ThreadInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ThreadInfo .LastMessage {
  flex-grow: 1;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}
.ThreadInfo .Emoji {
  font-size: 2rem;
}
.UnreadBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: white;

  flex-shrink: 0;
}

.DeleteAllButton {
  border: 1px solid #dddddd;
  font-size: 1.5rem;
  color: red;
}
