.ThreadView {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.MessageList {
  flex-grow: 1;
  overflow-y: auto;
}

.MessageContainer {
  display: flex;
  margin: 1rem;
}
.MessageContainer.You {
  justify-content: flex-end;
}

.Message {
  background: #eeeeee;
  padding: 1.5rem;
}
.Message.You {
  color: white;
  background: royalblue;
}

.MessageInput {
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;

  flex-shrink: 0;
}
.MessageInput * {
  margin: 5px;
}
.MessageInput input[type="text"] {
  flex-grow: 1;
  padding: 1rem;
}
.MessageInput input[type="submit"] {
  padding: 0.5rem;
  color: royalblue;
}
